<html>
  <head>
    <title>Object Detection Live</title>
  </head>
  <body>
  <script type="text/javascript" src="jsmpeg.min.js"></script>
    <h1>Object Detection Live</h1>
    <img src="{{ url_for('video_feed') }}">
	<button onclick="myFunction()">History of timestamps</button>

	<div id="place_for_suggestions"></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script>
		setInterval(function(){
			<!-- var text = $(this).val(); -->

			$.ajax({
			  url: "/suggestions",
			  type: "get",
			  <!-- data: {jsdata: text}, -->
			  success: function(response) {
				$("#place_for_suggestions").html(response);
			  },
			  error: function(xhr) {
				//Do Something to handle error
			  }
			});
		}, 1000);
	</script>
	<script>
		function myFunction() {
		  location.href = "http://localhost:8000/timestamps"
		}
	</script>
  </body>
</html>
